target

# Ignore NetBeans files
nb-configuration.xml
nbactions-windows.xml
nbactions*.xml

# Ignore Eclipse files
.settings
.classpath
.project
.checkstyle

# IDEA files
.idea
*.iml

# Maven Wrapper (which is re-generated if it's missing)
.mvn/wrapper/maven-wrapper.jar